<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  <mapper namespace="org.lanqiao.mapper.DeptMapper">
     <select id="getDeptBydeptno" resultType="dept" parameterType="String">
         select * from dept where deptno=#{deptno}
     </select>
     <insert id="insertDept" parameterType="dept" >
        insert into dept values(#{deptno},#{dname},#{loc}) 
     </insert>
     <update id="updateDept" parameterType="dept">
        update dept set dname=#{dname},loc=#{loc} where deptno=#{deptno}
     </update>
     <delete id="deleteDept" parameterType="String">
        delete from dept where deptno=#{deptno}
     </delete>
  </mapper>